In [29]:
tu = (23, 'abc', 4.56, (2,3), 'def')

In [30]:
print(tu)

(23, 'abc', 4.56, (2, 3), 'def')

In [31]:
li = ["abc", 34, 4.34, 23]

In [32]:
print(li)

['abc', 34, 4.34, 23]

In [33]:
st = "Hello World"
st1 = 'Hello World'
st2 = """This is a multi-line
string that uses triple quotes."""

In [34]:
print(st)
print(st1)
print(st2)

Hello World
Hello World
This is a multi-line
string that uses triple quotes.

In [35]:
print(tu[1])
print(li[1])
print(st[1])

abc
34
e

In [36]:
t = (23, 'abc', 4.56, (2,3), 'def')

In [37]:
t[1]

'abc'

In [38]:
t[-3]

4.56

In [39]:
t[1:4]

('abc', 4.56, (2, 3))

In [40]:
t[1:-1]

('abc', 4.56, (2, 3))

In [41]:
t[1:-1:2]

('abc', (2, 3))

In [42]:
t[:2]

(23, 'abc')

In [43]:
t[2:]

(4.56, (2, 3), 'def')

In [44]:
t[:]

(23, 'abc', 4.56, (2, 3), 'def')

In [45]:
t = [1, 2, 4, 5]

In [46]:
3 in t

False

In [47]:
4 in t

True

In [48]:
4 not in t

False

In [49]:
a = 'abcde'

In [50]:
'c' in a

True

In [51]:
'cd' in a

True

In [52]:
'ac' in a

False

In [53]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [54]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [55]:
"Hello" + " " + "World"

'Hello World'